.square{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgb(7, 76, 224);
    cursor: pointer;
    font-size: 20px;
}

.square-red{
    background-color: rgb(237, 30, 30);
}

.square-orange{
    background-color: rgb(246, 122, 32);
}

.square-green{
    background-color: rgb(66, 182, 73);
}

.square:hover{
    opacity: 0.6;
}